
<a href="/admin/addpost">add new post</a>


<table border="1" cellpadding="5" cellspacing="0" width="600">
<th>id</th>
<th>link description</th>
<th>date</th>
<th>short description</th>
<th>category</th>
<th>delete</th>

{% for p in posts %}

<tr>
<td>{{p.id}}</td>
<td>{{p.linkdesc}}</td>
<td>{{p.date}}</td>
<td>{{p.shortdesc}}</td>
<td>{{p.category.getName()}}</td>
<td><a href="">delete</a></td>


</tr>

{% endfor %}

</table>